#mainContainer{
    opacity: 80%;
    border: solid black 0.5rem;
    border-radius: 0.5rem;
    height: 50vh;
    width: 50vw;
    position: relative;
    margin: auto;
    height: fit-content;
}

#initPageContainer{  
    display: flex;
    columns: 2;
    flex-wrap: wrap;
    width: 100%;
    margin: 0%;
}

#taakstraffenContainer{
    width: 100%;
    height: 50vh;
    margin: 0%;
    display: none;
}

#gevangenisstraffenContainer{
    width: 100%;
    height: 50vh;
    margin: 0%;
    display: none;
}

#strafSelectieContainers{
    width: 25vw;
    height: 50vh;
}

#header {
    border-bottom: solid black 0.2rem;
    width: 100%;
    text-align: center;
    margin: 0%;
    background-color: black;
    color: white;
}

.straffenTitle{
    font-size: 1.5rem;
    width: 100%;
    margin: 0%;
    text-align: center;
}

.initPageText{
    margin: 0%;
    vertical-align: middle;
    text-align: center;
    height: inherit;
    line-height: 40vh;
    cursor: pointer;
}

#taakstraffen{
    border-right: solid black 0.25rem;
    background-color: #002c53;
    color: white;
}

#gevangenisstraffen{
    border-left: solid black 0.25rem;
    background-color: #002c53;
    color: white;
}

.strafToevoegen{
    position: absolute;
    left: 0;
    top: 10;
    background-color: #002c53;
    color: white;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border: 0;
    cursor: pointer;
}
